<div class="links">
<a href="/login">log in</a>
<a href="/">Home Page</a>
</div>
<form class="login">
<h1>Sign up</h1>
<input type="text" class="input" name="name" id="namesign" placeholder="User Name">
<input type="email" class="input" name="email" id="emailsign" placeholder="Enter Email">
<input type="password" class="input" name="password" id="passwordsign" placeholder="Enter Password">
<input type="password" class="input" name="password" id="confirmpasswordsign" placeholder="Confirm Password">
<button type="click" class="send" id="sendsign">send</button>
<p id="msgsign"></p>
</form>
